/* header */

header{
	width: 100%;
	background-color:#937127;
	position: fixed;
	top:0;
	z-index: 1000;
	padding: 15px 10px 8px 0;
}
.logo{
	
	width:15%;
	height: 500px;
	position:fixed;
	float :left;
	margin-top:-10px;
	padding-right:7px;
	background: url("../images/logo-ella-fitz.svg")no-repeat;
	
}


nav{
	
	float:right;
	padding-left:100px;
}

nav ul{
	list-style-type: none;
	text-align: right;
}

nav li {
	display: inline-block;
	font-size: .80em;
	font-weight:60;
	text-transform :uppercase;
	letter-spacing:.1em;
	padding-right:10px;
	cursor: pointer ;
	
}
nav li a:link{
	color:#D6A231;
	text-decoration:none;
}
nav li a:visited{
	color:#FFFFFF;
	
	}
	nav li a:hover{
	color:#FFFFFF;
 	text-decoration: none;
	}
	
nav li a:active{
	color:#FFFFFF;
}

.section-head{
	text-align: center;
	margin-bottom:45px;
	margin-top:0;
}
.section-copy{
	text-align: center;
	font-size:1.2em;
	
}
	
/*hero image*/


	


.hero-image{
	width:100%;
	max-height:2000px;
	overflow: hidden;
	
	
}
img{
	
	width:100%;
	display: block;
	
	
}

.hero-overlay{
	position:absolute;
	top:600px;
	width: 840px;
	z-index: 100;
	background-repeat: no-repeat;
	background-position: bottom;
	overflow: visible;
	 
	
}


.hero-headline{
	text-align: center;
	
	
}



/*biography*/
.biography{
	width: 100%;
	padding: 100px 0px;
	background-color:#234441;
	background-size: cover;
}

.biography{
	width: 100%;
	padding: 100px 0px;
	background-color:#234441;
	background-size: cover;
}

.biography img{
	border-radius:0%;
	margin-top:-98;
	padding-bottom:30px;
} 


.biography-head{
	text-align: center;
	margin-bottom:3px;
	margin-top:0;
} 


/*live-preformances*/


.live-performances{
		width: 100%;
	padding: 100px 0px;
	background-color:#234441;
 background: url("../images/Ella (1).svg")no-repeat;
	background-position: center;
	background-position-y: 50%;
	background-size:cover;
	
	
}
.live-performances{
	width: 100%;
	padding: 100px 100px 100px 100px;
	background-color:#234441;
	margin-right: auto;
	
}

.live-performances img{
	
	border-radius: 20%;
	padding-bottom: 30px;
	
	
	
}
.discography{
	width:100%;
	padding: 100px 0 100px 0;
 background-color:#234441;
}

.discography{
	width: 100%;
	padding: 100px 0 100px 0;
	background-color:#234441;
	
} 

.discography img{
	border-radius: 0%;
	padding-bottom: 40px;
}
 
.modern-influence{
	width:100%;
	padding:100px 0px;
	background-color:#234441;
 background: url("../images/career_elle.jpg")no-repeat;
	background-position: center;
	background-position-y: 50%;
	background-size:cover;
}
	
	.modern-influence img{
	width:200px;
	margin: auto;
	margin-bottom:10px;
	border-radius:0%;
	padding-bottom:-40px;
}
	.modern-influence-txt {
margin-left:40px;	
width: 300px;
padding: 10px 20px;
}
	


.atist-small{
	width:100%;
	float:left;
	padding:100px 0;
	background-color: #050304;
}

.artist-large{
	width: 100%;
	float:left;
	padding: 100px 0;
	background-color: #f6f6f6;
	
}

.albums{
	width: 100%;
	padding: 100px  100px 0;
background:#234441;
}

.albums{
	width: 100%;
	padding: 100px 100px 100px 100px;
	background-color:#234441;
	
}
 
.albums img{
	border-radius:0%;
	padding-bottom:0px;
}


/*career*/
.career{
	width: 100%;
	padding: 100px 0px;
background-image: url("../images/career_elle.jpg")no-repeat;
	background-position-y: 50%;
	background-position:cover;
}

.career{
	width: 100%;
	padding: 100px 0 100px 0;
	
}
.career img{
	border-radius:100%;
	padding-bottom:0px;
}

.career-copy{
	margin-bottom: 20px;
	margin-left:14px;
	
}

/*gallery*/

.gallery {
  width: 100%;
  padding: 100px 0;
  float: left;
  background-color: url("../images/photo.jpg")no-repeat; 
	background-size: cover;
  
}

.row{
  float:left;
  margin-bottom:20px;
}



.fa-github,
.fa-html5,
.fa-wrench,
.fa-file-pdf,
.fa-codepen{
	color:#696969;
	font-size: 2.5em;
	margin-bottom:10px;
	margin-top: 20px;
}

.fa-css3{
	color:#696969;
	font-size: 2.3em;
	margin-bottom:10px;
	margin-top: 20px;
	
	
}



/*contact us*/

.contact{
	width: 100%;
	padding: 100px 0;
	background-image:url("../images/ella-fitzgerald143.jpg")no-repeat;
	background-position: center;
	background-position-y:0%;
	background-size:cover;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea,
.contact-form select{
	width:360px;
	height:35px;
	margin-bottom:25px;
	padding: 5px 5px 5px 10px;
	border: 1px solid #dadada;
	color:#888888;
	font-weight:100;
	border-radius: 20px;
}

.contact-form textarea {
	height:200px;
} 

.contact img{
	border-radius: 17%;

}

/*footer*/

footer{
	width: 100%;
	padding: 50px 0 50px 0;
	text-align: left;
	background:#BB9236;
}

footer a :link{
	color:#937127;
	text-decoration:none;
	
}

footer a :visited{
	color:#959595;
	text-decoration:none;
	
}

footer a :hover{
	color:#937127;
	text-decoration:none;
	
}

footer a :active{
	color:#937127;
	text-decoration:none;
	
}

footer img{
	height:40px;
	width:40px;
	padding:20px;
	
}

.copyright{
	width: 100%;
	color:#937127;
}
.copyright p {
	margin-bottom: 0;
}

.fa-twitter,
.fa-facebook-f{
	font-size: 2em;
	margin: 20px 5px 0 5px;
	color:#937127;
}

.fa-twitter:hover,
.fa-facebook-f:hover{
	color: #937127;


}

.logo-un{
	width: 50px;
	height: 40px;
	position:fixed;
	float :left;
	margin-top: 20px;
	background: url("../images/UNESCO-logo 2.svg")no-repeat;
}
/*desktopand and laptops*/

@media only screen and (min-width : 1224px) {
	
	video{
		width: 100%;
		
	}
	
	
	
	
}